Source: kubehost
Section: utils
Priority: optional
Maintainer: Nimul Islam Mahin <nimulmahin@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2

Package: kubehost
Architecture: all
Depends: ${misc:Depends}, docker.io | docker-ce
Description: Automated networking and container orchestration CLI tool.
 KubeHost lets you deploy containerized apps in seconds without YAML manifests.